# dependencies
/node_modules

# next.js
/.next/
/out/
/build
next-env.d.ts

# production
/coverage

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug
npm-debug.log*

# local env files — never commit secrets
.env*
!.env.example

# vercel
.vercel
